<ion-header>
    <ion-toolbar>
        <ion-title>emp_login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-input value="Readonly" readonly></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input value="Password"></ion-input>
    </ion-item>

</ion-content>