<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row class="minifab">


        <ion-fab-button color="danger" (click)="scan()">SCAN</ion-fab-button>

    </ion-row>

</ion-content>